/* Small Devices */
@media only screen and (max-width: 576px) {
  .container {
    width: 90%;
  }

  /* Header styles start */

  header nav {
    height: auto;
    padding: 1rem 0;
    gap: 1rem;
    flex-direction: column;
  }
  header nav h2 {
    color: var(--color-main);
  }
  header nav .nav_right {
    text-align: center;
  }
  header nav .nav_right ul {
    gap: 2rem;
    flex-direction: column;
    width: 100%;
  }

  /* Header styles end */

  /* hero start */
  .hero {
    margin-top: 5rem;
  }
  .hero .heroText h1 {
    width: 100%;
    font-size: 5rem;
  }
  .hero .heroText p {
    width: 100%;
  }
  /* hero end */


  /* Section : QuickList Start */

  .QuickList {
    flex-direction: column;
  }
  .QuickList_left {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .QuickList_left img {
    width: 100%;
  }
  .QuickList_right {
    width: 100%;
    text-align: center;
  }

  .QuickList_right .btn {
    align-self: center;
  }

  /* Section : QuickList end */

  /* Section : Features start */
  .features {
    flex-direction: column;
  }
  .features .features_left {
    width: 100%;
  }
  .features .features_right {
    width: 100%;
  }

  .features .features_right .floatBox {
    left: 0;
    bottom: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }
  .facts .facts_data {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }

  /* Section : Features end */


  /* Bonus section : Cta */
  .cta {
    padding: 8rem 0;
  }

  .companys {
    gap: 2rem;
  }

  footer .container p {
    line-height: 3rem;
  }

}

/* Medium Devices */

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .container {
    width: 90%;
  }
  /* header start */
  header nav {
    flex-direction: column;
    height: 10rem;
    padding: 1rem 0;
    gap: 1.5rem;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .hero .heroText h1 {
    width: 100%;
  }

  /* Header end */

  /* Section : QuickList Start */

  .QuickList {
    flex-direction: column;
  }
  .QuickList_left {
    width: 100%;
  }
  .QuickList_right {
    width: 100%;
    text-align: center;
  }

  .QuickList_right .btn {
    align-self: center;
  }

  /* Section : QuickList end */

  /* Section : features start */

  .features {
    flex-direction: column;
  }
  .features .features_left {
    width: 100%;
  }
  .features .features_right {
    width: 100%;
  }

  .features .features_right .floatBox {
    left: 0;
    bottom: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  /* section features end */

  .facts .facts_data {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  .companys {
    gap: 2rem;
  }
}

/* Tablets */

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 90%;
  }
  /* header start */

  header nav {
    flex-direction: column;
    height: 10rem;
    padding: 1rem 0;
    gap: 1.5rem;
  }

  .hero {
    flex-direction: column-reverse;
  }

  /* header end */
 
/* Section : features start */
  .features {
    flex-direction: column;
  }
  .features .features_left {
    width: 100%;
  }
  .features .features_right {
    width: 100%;
  }
  .features .features_right .floatBox {
    left: 0;
    bottom: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

/* Section : features end */

  .facts .facts_data {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }
  .companys {
    gap: 2rem;
  }
}

/* Large Devices */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
